@{
    var login = TempData["ID"] ;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e9c77e8100.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="d-inline ">
                <div class="d-flex justify-content-between my-2 ">
                    <div class="d-flex flex-row fs-5 fw-bold" style="padding-left: 58% ;">
                        <div class="p-2">
                            <a class="link-underline link-underline-opacity-0" style="color: #2fb388;" href="https://example.com/tim-trung-tam">Tìm trung tâm</a>
                        </div>
                        <div class="p-2">
                            <a class="link-underline link-underline-opacity-0" style="color: #2fb388;" asp-action="DKyLichKham">Đặt lịch khám</a>
                        </div>

                    </div>
                    <div class="px-2">
                        <div class="fs-5 fw-bold" style="color: #FF7400;">
                            <a href="tel:0000000000" style="color: #FF7400; text-decoration: none;">Hotline: 000 000 0000</a>
                        </div>
                        <div class="fw-bold" style="font-size: x-small; color: #2fb388;">Mở cửa 7h30 - 17h00 / T2 - CN xuyên trưa *</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" border-top border-bottom py-1">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                        <div class="p-2"> <a href="Home.html" class="link-offset-2 link-underline link-underline-opacity-0 fw-bold" style="color: #2fb388;">Trang chủ</a></div>
                        <div class="p-2"> <a href="" class="link-offset-2 link-underline link-underline-opacity-0 fw-bold" style="color: #2fb388;">Giới thiệu</a></div>
                        <div class="p-2"> <a href="" class="link-offset-2 link-underline link-underline-opacity-0 fw-bold" style="color: #2fb388;">Vắc xin trẻ em </a></div>
                        <div class="p-2"> <a href="" class="link-offset-2 link-underline link-underline-opacity-0 fw-bold" style="color: #2fb388;">Vắc xin người lớn </a></div>
                        <div class="p-2"> <a href="" class="link-offset-2 link-underline link-underline-opacity-0 fw-bold" style="color: #2fb388;">Cẩm nang </a></div>
                        <div class="p-2"> <a href="" class="link-offset-2 link-underline link-underline-opacity-0 fw-bold" style="color: #2fb388;">Bảng giá </a></div>
                        <div class="p-2"> <a href="" class="link-offset-2 link-underline link-underline-opacity-0 fw-bold" style="color: #2fb388;">Bệnh học</a></div>
                        <div class="p-2"> <a href="" class="link-offset-2 link-underline link-underline-opacity-0 fw-bold" style="color: #2fb388;">Tin tức</a></div>
                    </div>
                    <div class="p-1">
                        <div class="input-group ">
                            <input type="search" class="form-control border  rounded-start-pill" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                            <span class="input-group-text border rounded-end-circle" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
               
                       
                        @if (login != null)
                        {
                        <div class="" style="padding-left: 6%;">
                            <button type="button" class="btn fs-5 border-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: #2fb388;">
                                Tunnd
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end mt-1">
                                <li><a class="dropdown-item" asp-action="ThongTinCaNhan">Thông tin cá nhân</a></li>
                                <li><a class="dropdown-item" asp-action="LichSuTiem">Lịch sử tiêm</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                            </ul>
                            <style>
                                .custom-btn-login {
                                    color: #2fb388;
                                    border-color: #2fb388;
                                }

                                .custom-btn-register {
                                    background-color: #2fb388;
                                    color: white;
                                    border-color: #2fb388;
                                }

                                .custom-btn-login:hover {
                                    background-color: #079769;
                                    color: white;
                                    border-color: #079769;
                                }

                                .custom-btn-register:hover {
                                    background-color: #079769;
                                    color: white;
                                    border-color: #079769;
                                }
                            </style>
                        </div>
                        }
                        else
                    {
                        <div class="p-1">
                            <a asp-action="Register" asp-controller="DNhapDKy" class="btn btn-outline custom-btn-register">Đăng ký</a>
                            <a asp-action="Login" asp-controller="DNhapDKy" class="btn btn-outline custom-btn-login ">Đăng nhập</a>

                       
                        <style>
                            .custom-btn-login {
                                color: #2fb388;
                                border-color: #2fb388;
                            }

                            .custom-btn-register {
                                background-color: #2fb388;
                                color: white;
                                border-color: #2fb388;
                            }

                            .custom-btn-login:hover {
                                background-color: #079769;
                                color: white;
                                border-color: #079769;
                            }

                            .custom-btn-register:hover {
                                background-color: #079769;
                                color: white;
                                border-color: #079769;
                            }
                            </style>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <!-- carousel -->
   
    @RenderBody()
    <footer class="bg-light text-center text-lg-start mt-3">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="row">
                        <div class="col-2">
                            <img src="Img/logo.png" alt="Logo CDC" style="width: 120%;">
                        </div>
                        <div class="col">
                            <h6 class="text-uppercase font-weight-bold">Trung tâm Kiểm Soát Bệnh Tật Thành Phố Đà Nẵng</h6>
                            <p>
                                Địa chỉ: 118 Lê Đình Lý, Phường Vĩnh Trung, Quận Thanh Khê, <br> Thành phố Đà Nẵng<br>
                                Điện thoại: 0236.3890.407
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Cơ sở tiêm chủng</h6>
                    <p>
                        118 Lê Đình Lý (Tầng 1), Phường Vĩnh Trung, Quận Thanh Khê, Thành phố Đà Nẵng<br>
                        Phòng tiêm chủng: 1900.988.975 - Ấn phím 1 hoặc 2
                    </p>
                    <div>
                        <a href="#" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="me-4 text-reset"><i class="fab fa-youtube"></i></a>
                        <a href="#" class="me-4 text-reset"><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="container text-center p-3 bg-secondary text-white">
            © Bản quyền thuộc về Trung tâm Kiểm Soát Bệnh Tật Thành Phố Đà Nẵng.
        </div>

    </footer>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
