   <div class="container mt-4" >
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="" style="color: #2fb388;">QUẢN LÝ XUẤT NHẬP KHO</h2>
            <div class="float-end ">
                <button class="btn fw-bold custom-btn"><i class="fa-solid fa-plus"></i> Thêm</button>
                <button class="btn fw-bold custom-btn"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
                <button class="btn fw-bold custom-btn"><i class="fa-solid fa-repeat"></i> Hủy </button>
                <button class="btn fw-bold custom-btn"><i class="fa-solid fa-print"></i> In</button>
                <button class="btn fw-bold custom-btn"><i class="fa-solid fa-right-from-bracket"></i> Thoát</button>
              </div>
        </div>
      
      <!-- Thông tin hóa đơn -->
    <div class="row m-0 mb-3 border rounded-4 py-2  ">
        <div class="col">
            <div class=" ms-1 p-3 py-1 border rounded-4  h-100">
                <div class="row ">
                    <div class="border rounded-4 p-2 ">
                        <form class="row ">
                            <div class="col ps-5">
                                <div class="form-group">
                                    <label for="ticketNumberFind">Số Phiếu</label>
                                    <input type="text" class="form-control" id="ticketNumberFind" value="24URAD036">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="TypeFind">Loại</label>
                                    <select type="text" class="form-control" id="TypeFind">
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="productionDateFind">Ngày Xuất/Nhập</label>
                                    <input type="date" class="form-control" id="productionDateFind" value="2023-02-03">
                                </div>
                            </div class="col">
                           
                            <div class="col">
                                <button class="btn fw-bold custom-btn mt-4" type="button"><i class="fa-solid fa-magnifying-glass"></i>  Tìm</button>
                            </div>
                        </form>
                    </div>
                    <form class="my-3 row">
                        <div class="col-3">
                            <div class="form-group row mt-4">
                                <label class="col-4 pt-1" for="ticketNumberFind">Số Phiếu</label>
                                <input type="text" class="form-control col" id="ticketNumberFind" value="24URAD036">
                            </div>
                            <div >
                                <button type="button" class="btn custom-btn rounded-pill px-3 py-2 mt-4 ms-5 fw-bold" data-bs-toggle="modal" data-bs-target="#VatTuModal">
                                    LẬP PHIẾU XUẤT/NHẬP
                                  </button>
                            </div>
                             
                           
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="form-group col">
                                    <label for="VatTuCode">Mã VatTu</label>
                                    <input type="text" class="form-control" id="VatTuCode" placeholder="Nhập mã VatTu">
                                </div>
                                <div class="form-group col">
                                    <label for="VatTuName">Tên VatTu</label>
                                    <input type="text" class="form-control" id="VatTuName" placeholder="Nhập tên VatTu">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col">
                                    <label for="VatTuType">Loại vật tư</label>
                                    <select class="form-control" id="VatTuType" placeholder="Nhập loại VatTu">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label for="origin">Nguồn cung cấp</label>
                                    <select class="form-control" id="origin" placeholder="Nhập nguồn gốc VatTu">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col">
                                    <label for="supplier">Nhà cung cấp</label>
                                    <select class="form-control" id="supplier" placeholder="Nhập nhà cung cấp VatTu">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label for="documentType">Loại chứng từ</label>
                                    <input type="text" class="form-control" id="documentType" placeholder="Nhập Loại chứng từ VatTu">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col">
                                    <label for="quantity">Số lượng</label>
                                    <input type="number" class="form-control" id="quantity" placeholder="Nhập số lượng">
                                </div>
                                <div class="form-group col">
                                    <label for="expirationDate">Hạn sử dụng</label>
                                    <input type="date" class="form-control" id="expirationDate">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col">
                                    <label for="entryDate">Ngày nhập</label>
                                    <input type="date" class="form-control" id="entryDate">
                                </div>
                                <div class="form-group col">
                                    <label for="notes">Ghi chú</label>
                                    <textarea class="form-control" id="notes" rows="1" placeholder="Nhập ghi chú"></textarea>
                                </div>
                            </div>
                        </div>
                    
                    </form>
                    
                    
                </div>
                
            </div>
            
            
        </div>
      
        <div class="p-3 pt-1">
            <div class="border rounded-4 mt-1 ">
                <div class="table-responsive p-2 ">
                    <table class="table  m-0 mt-2 ">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tên Vắc xin/Huyết thanh</th>
                                <th>Nguồn gốc</th>
                                <th>Số lượng </th>
                                <th>Phòng bệnh</th>
                                <th>Đơn giá</th>
                                <th>Thành phần</th>
                                <th>Ghi chú</th>
                                <th>Ngày sản xuất</th>
                                <th>Ngày hết hạn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><input type="checkbox"></th>
                                <td>Vắc-xin thủy đậu – VARILRIX (Bỉ)</td>
                                <td>Bỉ</td>
                                <td>68</td>
                                <td>Thủy đậu</td>
                                <td>919,000</td>
                                <td></td>
                                <td>trẻ từ 9 tháng</td>
                                <td>03-02-2023</td>
                                <td>03-02-2025</td>
                            </tr>
                            <tr>
                                <th><input type="checkbox"></th>
                                <td>Vắc-xin thủy đậu – Varivax (Mỹ)</td>
                                <td>Mỹ</td>
                                <td>72</td>
                                <td>Thủy đậu</td>
                                <td>1,085,000</td>
                                <td></td>
                                <td>trẻ từ 12 tháng</td>
                                <td>16-04-2023</td>
                                <td>16-04-2025</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>
    
    <div class="modal fade" id="VatTuModal" tabindex="-1" aria-labelledby="VatTuModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="VatTuModalLabel">PHIẾU XUẤT/NHẬP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                 <div class="mx-4 row">
                   <form class="col">
                      <div class="form-group row mb-1">
                         <label class="col-2 fw-bold" for="soPhieuNhap" >Số phiếu nhập</label>
                         <input type="text" class="form-control col" id="soPhieuNhap">
                         <label class="col-2 fw-bold" for="typeName" >Loại phiếu</label>
                         <select name="" class="form-control col" id="typeName">
                            <option value="0">Phiếu nhập</option>
                            <option value="2">Phiếu xuất</option>
                         </select>
                   </div>
                   <div class="form-group row mb-1">
                      <label class="col-2 fw-bold" for="receivingUnit">Đơn vị tiếp nhận</label>
                      <input type="text" class="form-control col" id="receivingUnit" value="">
                      <label class="col-2 fw-bold" for="importExportDate">Ngày xuất/nhập </label>
                      <input type="date" class="form-control col" id="importExportDate" value="2023-02-03">
                  </div>
    
                    <div class="form-group row mb-1">
                        <label class="col-2 fw-bold" for="VatTuCode" >Mã VatTu</label>
                        <input type="text" class="form-control col" id="VatTuCode" value="24URAD036">
                        <label class="col-2 fw-bold" for="VatTuName" >Tên VatTu</label>
                        <input type="text" class="form-control col" id="VatTuName" value="Vắc-xin thủy đậu – VARILRIX (Bỉ)">
                    </div>
             
                    <div class="form-group row mb-1">
                        <label class="col-2 fw-bold" for="origin">Nguồn gốc</label>
                        <input type="text" class="form-control col" id="origin" value="Bỉ">
                        <label class="col-2 fw-bold" for="productionDate">Ngày sản xuất</label>
                        <input type="date" class="form-control col" id="productionDate" value="2023-02-03">
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-2 fw-bold" for="use">Công dụng</label>
                        <input type="text" class="form-control col" id="use" value="Phòng bệnh Thủy đậu">
                        <label class="col-2 fw-bold" for="expiryDate">Hạn sử dụng</label>
                        <input type="date" class="form-control col" id="expiryDate" value="2025-02-03">
                    </div>
        
                    <div class="form-group row mb-1">
                        <label class="col-2 fw-bold" for="composition">Thành phần</label>
                        <input type="text" class="form-control col" id="composition">
                        <label class="col-2 fw-bold" for="notes">Ghi chú</label>
                        <input type="text" class="form-control col" id="notes" value="Trẻ em từ 9 tháng tuổi đến 12 tuổi: Lịch tiêm 2 mũi">
                    </div>
            </form>
                   <div class="col-3">
                      <img src="Img/pdf-2127829_640.png" class="border rounded-3" alt="" height="75%;" width="100%">
                      <label class="btn mt-1 ms-4" style=" background-color: #2fb388;color: white;border-color: #2fb388;">
                         <i class="fas fa-upload"></i> Tải văn bản xác nhận
                         <input type="file" class="form-control d-none" id="keHoachDieuTri" accept="image/*">
                     </label>
                   </div>
                 </div>
                 
                  <div class="table-responsive border rounded-4 mt-2" style="font-size: small;">
                      <table class="table  m-0 mt-2 ">
                          <thead>
                              <tr>
                                  <th></th>
                                  <th>Số phiếu nhập</th>
                                  <th>Mã VatTu</th>
                                  <th>Tên VatTu</th>
                                  <th>Loại VatTu</th>
                                  <th>Nguồn gốc</th>
                                  <th>Thành phần</th>
                                  <th>Công dụng</th>
                                  <th>Số lượng</th>
                                  <th>Hạn sử dụng</th>
                                  <th>Ngày nhập</th>
                                  <th>Ghi chú</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th><input type="checkbox"></th>
                                  <td>12345</td>
                                  <td>24URAD036</td>
                                  <td>Vắc-xin thủy đậu – VARILRIX (Bỉ)</td>
                                  <td>Thủy đậu</td>
                                  <td>Bỉ</td>
                                  <td>Hoạt chất A, B, C</td>
                                  <td>Phòng bệnh Thủy đậu</td>
                                  <td>1000</td>
                                  <td>2025-02-03</td>
                                  <td>2023-02-03</td>
                                  <td>Trẻ em từ 9 tháng tuổi đến 12 tuổi: Lịch tiêm 2 mũi</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn custom-btn">lưu</button>
              </div>
            </div>
          </div>
      </div>
 
  
</div>