@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-uppercase" style="color: #2fb388;">Xuất dược </h2>
        <div class="float-end ">
            <button class="btn fw-bold custom-btn"><i class="fa-solid fa-plus"></i> Thêm</button>
            <button class="btn fw-bold custom-btn"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
            <button class="btn fw-bold custom-btn"><i class="fa-solid fa-repeat"></i> Hủy </button>
            <button class="btn fw-bold custom-btn"><i class="fa-solid fa-print"></i> In</button>
            <button class="btn fw-bold custom-btn"><i class="fa-solid fa-right-from-bracket"></i> Thoát</button>
        </div>
    </div>

    <!-- Thông tin hóa đơn -->
    <div class="row m-0 mb-3 border rounded-4 py-2  ">
        <div class="col">
            <div class=" ms-1 p-3 py-1 border rounded-4 ">
                <form class=" col">
                    <div class="row g-3">
                        <!-- Cột trái -->
                        <div class="col-md-4">
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-5 col-form-label">Mã chứng từ</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="CDCTCHD240006">
                                </div>
                                <div class="col-sm-1">
                                    <button class=" btn  btn-success me-2"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-5 col-form-label"> Người giao</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-5 col-form-label">Diễn giải</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-5 col-form-label">Số phiều lĩnh</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>

                        <!-- Cột phải -->
                        <div class="col-md-4">
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-5 col-form-label">Loại phiếu </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-5 col-form-label">Nơi nhận</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-5 col-form-label">Người nhận</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-5 col-form-label">Số phiếu</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-5 col-form-label">Ngày</label>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-7 col-form-label">Trạng thái duyệt:</label>
                            </div>
                            <div class="row align-items-center mt-2">
                                <label class="col-sm-7 col-form-label">Lý do không duyệt </label>
                            </div>
                            <div class="row align-items-center mt-2">
                                <div>
                                    <textarea class="form-control" rows="1"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 w-75">
                        <label class="col fw-bold" for="">Phương pháp nhập xuất: </label>
                        <div class="form-check col">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                1. Hạn dùng
                            </label>
                        </div>
                        <div class="form-check col">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                2. Nhập trước xuất trước
                            </label>
                        </div>
                    </div>
                    <div class="row mt-2 ">
                        <div class="row">
                            <div class="row col-3">
                                <label class=" pe-0">Dược phẩm </label>
                                <div class="col">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row col-3">
                                <label class=" pe-0">Nơi giao  </label>
                                <div class="col">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row col">
                                <label class=" pe-0">Nguồn </label>
                                <div class="col">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row col">
                                <label class=" pe-0">Lô nhập </label>
                                <div class="col">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row col">
                                <label class=" pe-0">Số lượng </label>
                                <div class="col">
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="row col">
                                <div class="col d-flex align-items-end">
                                    <button class="btn btn-success me-2"><i class="bi bi-plus-lg"></i></button>
                                    <button class="btn btn-warning me-2"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-danger"><i class="bi bi-x-lg"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3 ">
                        <div class="col">
                            <label for="">Hạn sử dụng: ....</label>
                        </div>
                        <div class="col">
                            <label for="">Lô kiểm soát: ....</label>
                        </div>
                        <div class="col">
                            <label for="">ĐVT: ....</label>
                        </div>
                        <div class="col">
                            <label for="">Tổng SL tồn: ....</label>
                        </div>
                        <div class="col">
                            <label for="">SL tồn lô: ....</label>
                        </div>
                        <div class="col">
                            <label for="">Đơn giá xuất: ....</label>
                        </div>
                        <div class="col">
                            <label for="">Thành tiên: ....</label>
                        </div>
                    </div>
                </form>
            </div>


        </div>

        <div class="ms-3 mt-2 p-3 py-1 border rounded-4" style="width: 98%;">
            <div class="row mb-3 mt-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Tìm Kiêm">
                </div>
                <div class="col-md-4 d-flex align-items-end">
                    <button class="btn btn btn-outline-secondary me-2"><i class="bi bi-search"></i></button>
                </div>
            </div>
            <style>
                .table th {
                    background-color: #e8f5e9; /* Màu nền xanh nhạt cho tiêu đề */
                    color: #000; /* Màu chữ đen */
                    text-align: center;
                    white-space: nowrap; /* Ngăn chữ bị xuống hàng */
                }

                .table tbody tr td {
                    text-align: center;
                    white-space: nowrap; /* Ngăn chữ bị xuống hàng trong ô dữ liệu */
                }
            </style>

            <div class=" table-responsive">
                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th></th>
                            <th>STT </th>
                            <th>Tên thuốc, hàm lượng (hãng, nước sx).</th>
                            <th>ĐVT </th>
                            <th>Số lượng yêu cầu</th>
                            <th>Số lượng xuất</th>
                            <th> Đơn giá</th>
                            <th>Thánh tiên</th>
                            <th>Hạn sử dụng</th>
                            <th>Lô kiểm soát</th>
                            <th>Kho xuất</th>
                            <th>Nguồn</th>
                            <th>Nước sản xuất </th>
                            <th>Hãng SX</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="" id=""></td>
                            <td colspan="15" class="text-center">Không có dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="button" class="float-end btn custom-btn w-25">Xác Nhận</button>
        </div>

    </div>

</div>