<div class="container pt-1">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Img/CDC Đà Nẵng.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Img/CDC Đà Nẵng.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Img/CDC Đà Nẵng.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container pt-1">
    <div class="row ms-0">
        <div class="col-sm-8 " style="font-size: medium;">
            <div class="row border rounded-2">
                <div class="col-sm-7 border-end ">
                    <img class=" my-1" src="~/Img/image-20241015111921-1.png" alt="" width="70%" style="margin-left: 15%;">
                    <p class="m-0 fw-bolder" style="color: #2fb388;">200 sinh viên tham dự truyền thông dự phòng trước phơi nhiễm PrEP tại Trường đại học ngoại ngữ Đà Nẵng 200 sinh viên tham dự truyền thông dự phòng trước phơi nhiễm PrEP tại Trường đại học ngoại ngữ Đà Nẵng</p>
                    <hr style="margin: 2% 0px 2% 0px;">
                    <p class="m-0">Sáng ngày 10/10/2024 Trung tâm Kiểm soát bệnh tật thành phố Đà Nẵng tổ chức buổi Truyền thông phòng, chống ma túy và HIV cho 200 sinh viên năm thứ...</p>
                    <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Đà Nẵng tiếp tục thực hiện chính sách thu hút bác sĩ cho các cơ sở y tế công lập </a><br>
                    <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Đảng bộ Sở Y tế thành phố Đà Nẵng đạt giải 3 Chung kết Hội thi Báo cáo viên, Tuyên truyền viên giỏi năm 2024 </a><br>
                    <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Tập huấn công tác truyền thông vận động hiến máu tình nguyện, hiến mô, tạng nhân đạo</a><br>
                    <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Hội nghị Quốc tế nâng cao năng lực cấp cứu Bệnh viện Đà Nẵng mở rộng 2024 </a>
                </div>
                <div class="col-sm-5 ">
                    <img class=" my-1" src="~/Img/image-20241011085527-1.png  " alt="" width="90%" style="margin-left: 5%;">
                    <p class="m-0 fw-bolder" style="color: #2fb388;">Khám tầm soát phát hiện ung thư cổ tử cung, ung thư vú cho phụ nữ các khu công nghiệp</p>
                    <hr style="margin: 2% 0px 2% 0px;">
                    <p class="m-0">Nhằm tăng tỷ lệ chẩn đoán sớm và giảm tử vong do ung thư cổ tử cung và ung thư vú, phát hiện sớm, điều trị kịp thời, nâng cao hiệu quả điều trị, Trung...</p>
                    <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Bạo lực học đường: Hậu quả và cách phòng tránh </a> <br>
                    <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Dinh dưỡng hợp lý để người cao tuổi sống khoẻ </a> <br>
                    <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Những cách phòng bệnh sởi cần biết </a> <br>
                    <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Cảnh báo: Bệnh đậu mùa khỉ và nguy cơ mắc trên nhóm nam quan hệ tình dục đồng giới </a>
                </div>
            </div>
            <div class="mt-2">
                <div class="row mt-1" style="background-color: #e3e3e3;">
                    <img class="p-1" src="~/Img/6.2-banner2-1.png" alt="">
                </div>
                <div class="row mt-1" style="background-color: #e3e3e3;">
                    <img class="p-1" src="~/Img/banner-cach-tiem-chung_2.png" alt="">
                </div>
                <div class="row mt-1 p-1" style="background-color: #e3e3e3;">
                    <img class="col-4" src="~/Img/233333.png" alt="">
                    <img class="col-4" src="~/Img/vd.png" alt="">
                    <img class="col-4" src="~/Img/52.png" alt="">
                </div>
                <div class="row mt-1" style="background-color: #e3e3e3;">
                    <img class="p-1" src="~/Img/bg-vaccin.png" alt="">
                </div>

            </div>
            <div class="row mt-2 " style="font-size: 14px;">
                <!-- Card 1 -->
                <div class="col d-flex p-1">
                    <div class="card border-0 shadow-lg h-100 w-100">
                        <div class="card-header text-white d-flex align-items-center" style="background-color: #2fb388;color: white;">
                            <h5 class="m-0 fs-5 fw-bold text-uppercase mb-0"> <i class="fa-solid fa-bars"></i> Tin Tức - Sự Kiện</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="fw-bold" style="color: #2fb388;">
                                Đảm bảo an sinh xã hội, tăng quyền năng và tạo cơ hội cho phụ nữ và trẻ em gái nhằm thực hiện bình đẳng giới và xóa bỏ bạo lực trên cơ sở giới
                            </h6>
                            <div class="d-flex justify-content-start align-items-center text-muted small mb-3">
                                <span>08/11/2024 08:21:13 AM</span>
                                <span class="mx-3">|</span>
                                <span><i class="bi bi-eye"></i> 32</span>
                                <span class="mx-3">|</span>
                                <span><i class="bi bi-chat"></i> 0</span>
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="https://via.placeholder.com/120" class="img-thumbnail me-3" alt="Bình đẳng giới">
                                <p>
                                    Thực hiện Công văn số 5994/UBND-SLĐTBXH ngày 24/10/2024 của UBND thành phố Đà Nẵng về việc triển khai Tháng hành động vì bình đẳng giới và phòng ngừa, ứng phó với bạo lực trên cơ sở giới năm 2024, với...
                                </p>
                            </div>
                            <ul class="list-group list-group-flush mt-3">
                                <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Phát động Cuộc thi sáng tác Logo ngành dân số</a>
                                <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Hội thảo rà soát, đánh giá việc thực hiện Nghị định số 89/2018/NĐ-CP của Chính phủ quy định chi tiết thi hành một số điều của Luật Phòng, chống bệnh truyền nhiễm về kiểm dịch y tế biên giới.</a>
                                <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Sở Y tế Đà Nẵng: đánh giá kết quả thực hiện công tác 9 tháng đầu năm và triển khai nhiệm vụ 3 tháng cuối năm 2024</a>
                                <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Mít tinh hưởng ứng Ngày Thế giới rửa tay với xà phòng năm 2024</a>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col d-flex p-1">
                    <div class="card border-0 shadow-lg h-100 w-100">
                        <div class="card-header  text-white d-flex align-items-center" style="background-color: #2fb388;color: white; ">

                            <h5 class="m-0 fs-5 fw-bold text-uppercase mb-0 "> <i class="fa-solid fa-bars"></i> Tiêm Chủng Vắc Xin</h5>
                        </div>
                        <div class="card-body">
                            <h6 class=" fw-bold" style="color: #2fb388;">
                                Triển khai Kế hoạch kiểm tra tiền sử và tiêm chủng bù liều vắc xin cho trẻ tại Thành phố Đà Nẵng
                            </h6>
                            <div class="d-flex justify-content-start align-items-center text-muted small mb-3">
                                <span>23/10/2024 09:24:02 AM</span>
                                <span class="mx-3">|</span>
                                <span><i class="bi bi-eye"></i> 95</span>
                                <span class="mx-3">|</span>
                                <span><i class="bi bi-chat"></i> 0</span>
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="https://via.placeholder.com/120" class="img-thumbnail me-3" alt="Tiêm chủng">
                                <p>
                                    Nhằm chuẩn bị cho hoạt động kiểm tra tiền sử tiêm chủng của trẻ, góp phần vào công tác phòng chống dịch trên địa bàn. Sở Y tế Tp. Đà Nẵng tổ chức cuộc họp góp ý về kế hoạch triển khai hoạt động kiểm...
                                </p>
                            </div>
                            <ul class="list-group list-group-flush mt-1">
                                <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Vắc xin phòng bệnh Sốt xuất huyết: Vũ khí mới trong dự phòng Sốt xuất huyết tại Việt Nam</a>
                                <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> CDC Đà Nẵng tổ chức tập huấn khám sàng lọc trước tiêm chủng</a>
                                <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Hội nghị trực tuyến hưởng ứng Tuần lễ Tiêm chủng Thế giới năm 2024 và phát động triển khai chiến dịch tiêm vắc xin Sởi</a>
                                <a href="" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed  ;"><i class="fa-solid fa-caret-right"></i> Tiêm vắc xin sởi là biện pháp hàng đầu giúp ngăn chặn bùng phát dịch sởi</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2" style="font-size: 14px;">
                <!-- Card 1 -->
                <div class="col d-flex p-1">
                    <div class="card border-0 shadow-lg h-100 w-100">
                        <div class="card-header text-white d-flex align-items-center" style="background-color: #2fb388; color: white;">
                            <h5 class="m-0 fs-5 fw-bold text-uppercase mb-0"><i class="fa-solid fa-bars"></i> Phòng chống dịch bệnh</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="fw-bold" style="color: #2fb388;">
                                Bạch hầu là bệnh nhiễm khuẩn, nhiễm độc cấp tính do vi khuẩn bạch hầu sinh độc tố, bệnh dễ lây lan, nguy cơ tử vong cao nếu không được điều trị kịp thời.
                            </h6>
                            <div class="d-flex justify-content-start align-items-center text-muted small mb-3">
                                <span>08/11/2024 12:24:49 PM</span>
                                <span class="mx-3">|</span>
                                <span><i class="bi bi-eye"></i> 137</span>
                                <span class="mx-3">|</span>
                                <span><i class="bi bi-chat"></i> 0</span>
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="https://via.placeholder.com/120" class="img-thumbnail me-3" alt="Bệnh bạch hầu">
                                <p>
                                    Bạch hầu là bệnh nhiễm khuẩn, nhiễm độc cấp tính do vi khuẩn bạch hầu sinh độc tố, bệnh dễ lây lan, nguy cơ tử vong cao nếu không được điều trị kịp thời. Chung tay phá vỡ rào cản – phòng chống bệnh dại, đảm bảo an toàn thực phẩm dịp Tết Trung thu, vai trò của vitamin A trong hỗ trợ điều trị bệnh sởi.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush mt-3">
                                <a href="#" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed;"><i class="fa-solid fa-caret-right"></i> Chung tay phá vỡ rào cản – phòng chống bệnh dại</a>
                                <a href="#" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed;"><i class="fa-solid fa-caret-right"></i> Đảm bảo an toàn thực phẩm dịp Tết Trung thu</a>
                                <a href="#" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed;"><i class="fa-solid fa-caret-right"></i> Vai trò của vitamin A trong hỗ trợ điều trị bệnh sởi</a>
                                <a href="#" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed;"><i class="fa-solid fa-caret-right"></i> Sử dụng vitamin A trong điều trị bệnh Sởi ở trẻ em</a>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col d-flex p-1">
                    <div class="card border-0 shadow-lg h-100 w-100">
                        <div class="card-header text-white d-flex align-items-center" style="background-color: #2fb388; color: white;">
                            <h5 class="m-0 fs-5 fw-bold text-uppercase mb-0"><i class="fa-solid fa-bars"></i> Bệnh không lây nhiễm</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="fw-bold" style="color: #2fb388;">
                                Bệnh tim mạch đang có chiều hướng gia tăng ở người trẻ tuổi; Xuất hiện nhiều ở những người tuổi từ 30 đến 40 tuổi.
                            </h6>
                            <div class="d-flex justify-content-start align-items-center text-muted small mb-3">
                                <span>26/09/2024 11:27:23 AM</span>
                                <span class="mx-3">|</span>
                                <span><i class="bi bi-eye"></i> 665</span>
                                <span class="mx-3">|</span>
                                <span><i class="bi bi-chat"></i> 0</span>
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="https://via.placeholder.com/120" class="img-thumbnail me-3" alt="Bệnh tim mạch">
                                <p>
                                    Bệnh tim mạch đang có chiều hướng gia tăng ở người trẻ tuổi; Xuất hiện nhiều ở những người tuổi từ 30 đến 40 tuổi. Một số yếu tố sức khỏe có nguy cơ liên quan đến bệnh tim mạch: Tăng huyết áp; Đái tháo đường...
                                </p>
                            </div>
                            <ul class="list-group list-group-flush mt-3">
                                <a href="#" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed;"><i class="fa-solid fa-caret-right"></i> Một số dấu hiệu để nhận biết khi mắc bệnh Đái tháo đường</a>
                                <a href="#" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed;"><i class="fa-solid fa-caret-right"></i> Ăn giảm muối để có một cơ thể khỏe mạnh</a>
                                <a href="#" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed;"><i class="fa-solid fa-caret-right"></i> Kiểm soát tăng huyết áp và hướng dẫn đo huyết áp đúng cách</a>
                                <a href="#" class="link-offset-2 link-underline link-underline-opacity-0 py-1" style="color: #2fb388; border-top: 1px grey dashed;"><i class="fa-solid fa-caret-right"></i> Hãy đo đúng và kiểm soát tốt huyết áp để sống khỏe, sống lâu</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4" style="padding-left: 5px;">
            <div class="card " style="color: #2fb388;">
                <div class="card-header" style="background-color: #2fb388;color: white;">
                    <p class="m-0 fs-5 fw-bold text-uppercase">TỔNG ĐÀI TƯ VẤN</p>
                </div>
                <div class="card-body rounded-4">
                    <div class="fs-6">
                        <p class="mb-1"><i class="fa-solid fa-user"></i> Tổng đài tư vấn: (Hoạt động trong giờ hành chính không tính Lễ, Tết) - Thứ 7, CN: Buổi sáng</p>
                        <p class="m-0 fw-bold"><i class="fas fa-phone-alt mr-2"></i> 1900.988.975</p>
                    </div>
                    <hr class="bg-light m-0">
                    <div class=" fs-6">
                        <p class="mt-2 mb-1"><i class="fa-solid fa-user"></i> Tư vấn tiêm chủng</p>
                        <p class="m-0 fw-bold"><i class="fas fa-phone-alt mr-2"></i> 1900.988.975 ấn phím 1 hoặc phím 2</p>
                    </div>
                    <hr class="bg-light m-0">
                    <div class=" fs-6">
                        <p class="mt-2 mb-1"><i class="fa-solid fa-user"></i> Tư vấn sức khỏe sinh sản</p>
                        <p class="m-0 fw-bold"><i class="fas fa-phone-alt mr-2"></i> 1900.988.975 ấn phím 3</p>
                    </div>
                    <hr class="bg-light m-0">
                    <div class=" fs-6">
                        <p class="mt-2 mb-1"><i class="fa-solid fa-user"></i> Tư vấn điều trị các bệnh giun sán, viêm gan B, C. Tư vấn xử lý các loại côn trùng</p>
                        <p class=" m-0 fw-bold"><i class="fas fa-phone-alt mr-2"></i> 0934.048.568</p>
                    </div>
                    <hr class="bg-light m-0">
                </div>
            </div>

            <div class="card mt-1 " style="color: #2fb388;">
                <div class="card-header" style="background-color: #2fb388;color: white;">
                    <p class="m-0 fs-5 fw-bold text-uppercase">Số ĐIỆN THOẠI</p>
                </div>
                <div class="card-body rounded-4">
                    <div class="fs-6">
                        <p class="mb-1"><i class="fa-solid fa-user"></i> Liên hệ công việc</p>
                        <p class="m-0 fw-bold"><i class="fas fa-phone-alt mr-2"></i> 0236.3890.407</p>
                    </div>
                    <hr class="bg-light m-0">
                    <div class=" fs-6">
                        <p class="mt-2 mb-1"><i class="fa-solid fa-user"></i> Đường dây nóng</p>
                        <p class="m-0 fw-bold"><i class="fas fa-phone-alt mr-2"></i> 0905.108.844 (Không TV tiêm chủng)</p>
                    </div>
                    <hr class="bg-light m-0">
                </div>
            </div>
            <!-- Card: Hệ Thống Văn Bản -->
            <div class="card mt-2" style="color: #2fb388;">
                <div class="card-header" style="background-color: #2fb388; color: white;">
                    <p class="m-0 fs-5 fw-bold text-uppercase">HỆ THỐNG VĂN BẢN</p>
                </div>
                <div class="card-body rounded-4">
                    <ul class="list-unstyled">
                        <li>
                            <p class="mb-1"><i class="bi bi-file-earmark-text"></i> Thông báo về việc mời chào giá: Mua sản phẩm dinh dưỡng phục vụ hoạt động chuyên môn năm 2024</p>
                            <p class="m-0 text-muted"><small>1566/TB-TTKSBTT</small></p>
                        </li>
                        <hr class="bg-light m-0">
                        <li>
                            <p class="mt-2 mb-1"><i class="bi bi-file-earmark-text"></i> Thông báo về việc mời chào giá gói thầu: Thuê dịch vụ xét nghiệm cận lâm sàng năm 2024</p>
                            <p class="m-0 text-muted"><small>1584/TB-TTKSBTT</small></p>
                        </li>
                        <hr class="bg-light m-0">
                        <li>
                            <p class="mt-2 mb-1"><i class="bi bi-file-earmark-text"></i> Thông báo về kết quả lựa chọn giá gói</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Card: Tình Hình Dịch Bệnh -->
            <div class="card mt-2" style="color: #2fb388;">
                <div class="card-header" style="background-color: #2fb388; color: white;">
                    <p class="m-0 fs-5 fw-bold text-uppercase">TÌNH HÌNH DỊCH BỆNH</p>
                </div>
                <div class="card-body rounded-4">
                    <ul class="list-unstyled">
                        <li>
                            <p class="mb-1"><i class="bi bi-file-earmark-medical"></i> Ngày 3/8: Có 25 ca COVID-19 mới, 4 bệnh nhân đang thở oxy</p>
                            <p class="m-0 text-muted"><small>Bản tin phòng chống dịch COVID-19 ngày 3/8 của Bộ Y tế cho biết có 25 ca mắc mới, trong ngày có 2 bệnh nhân khỏi. Bệnh nhân nặng tăng lên 4 ca thở...</small></p>
                        </li>
                        <hr class="bg-light m-0">
                        <li>
                            <p class="mt-2 mb-1"><i class="bi bi-file-earmark-medical"></i> Ngày 18/4: Ca COVID-19 mới tăng vọt lên 1.522, có 14 bệnh nhân thở máy</p>
                        </li>
                        <hr class="bg-light m-0">
                        <li>
                            <p class="mt-2 mb-1"><i class="bi bi-file-earmark-medical"></i> Ngày 17/4: Số ca mắc COVID-19 tăng cao nhất trong 6 tháng qua</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Card: Tài Liệu Truyền Thông GDSK -->
            <div class="card mt-2" style="color: #2fb388;">
                <div class="card-header" style="background-color: #2fb388; color: white;">
                    <p class="m-0 fs-5 fw-bold text-uppercase">TÀI LIỆU TRUYỀN THÔNG GDSK</p>
                </div>
                <div class="card-body rounded-4">
                    <div class="d-flex align-items-start">
                        <img src="https://via.placeholder.com/120" class="img-thumbnail me-3" alt="Phòng bệnh Sởi">
                        <p>Những cách phòng bệnh sởi cần biết. Bệnh Sởi là bệnh truyền nhiễm nhóm B, do vi rút Sởi gây ra. Bệnh thường gặp ở trẻ em dưới 5 tuổi hoặc cũng có thể gặp ở người lớn, do chưa được tiêm...</p>
                    </div>
                    <ul class="list-group list-group-flush mt-3">
                        <p class="mt-2 mb-1"><i class="bi bi-file-earmark-medical"></i>INFOGRAPHICH: Khuyến cáo của BYT mới nhất về PC dịch bệnh sởi</p>
                        <hr class="bg-light m-0">
                        <p class="mt-2 mb-1"><i class="bi bi-file-earmark-medical"></i>6 cách phòng chống dịch Cúm A(H5N1)</p>
                        <hr class="bg-light m-0">
                        <p class="mt-2 mb-1"><i class="bi bi-file-earmark-medical"></i>INFOGRAPHICH: GIỚI THIỆU THÔNG TƯ SỐ 32/2023/TT-BYT HƯỚNG DẪN LUẬT KHÁM BỆNH, CHỮA BỆNH 2023</p>
                        <hr class="bg-light m-0">
                        <p class="mt-2 mb-1"><i class="bi bi-file-earmark-medical"></i>Giới thiệu Thông tư số 32/2023/TT-BYT hướng dẫn Luật Khám bệnh, chữa bệnh 2023</p>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>